<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODODODO</title>
    <link rel="icon" type="image/x-icon" href="./icon.ico">
    <link rel="stylesheet" href="./all.css">
    <link rel="stylesheet" href=" {{ style }} ">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <header>
        TO-DO BOARD
    </header>
    
    {{{ body }}}

    <footer>
        <p>Made by: mlodybeton</p>
        <a href="https://www.flaticon.com/free-icons/check-mark" title="check mark icons">Check mark icons created by Ian June - Flaticon</a>
    </footer>
</body>
</html>