<main>
    <h2>Tytuł zadania</h2>
    <input type="text" name="title" id="titleID" {{#if put}}value="{{ task.title }}"{{/if}} maxlength="30">

    <h2>Treść zadania</h2>
    <textarea name="content" id="contentID" cols="30" rows="10">{{#if put}}{{ task.content }}{{/if}}</textarea>

    <h2>Ukończono</h2>
    <input type="checkbox" name="completed" id="completedID" {{#if put}}{{#if task.completed}}checked{{/if}}{{/if}}>

    <h2>Kolor</h2>
    <input type="color" name="color" id="colorID">

    <div>
        <button>Zapisz</button>
        <button>Usuń zadanie</button>
        <button><a href="/">Anuluj</a></button>
    </div>
</main>