<main>
    <div>
        <i id="icon" class="material-icons">error_outline</i>
        <h1>Wystąpił błąd</h1>
    </div>


    <h5>Treść komunikatu:</h5>
    <p>{{ message }}</p>

    <a href="/">Powrót do strony głównej</a>

</main>